<app-topo></app-topo>

<div *ngIf="gameRunning; else endMatch " >
    <app-painel (endGame)="endGame($event)"></app-painel>
</div>

<ng-template #endMatch>
    <div *ngIf="typeEnding ==='lose'; else win " class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col">
                <h3 style="color: red">EndGame, you lose !</h3>
            </div>
        </div>    
        <button type="button" class="btn btn-primary" (click)="restartGame()">Jogar novamente</button>
    </div>
</ng-template>


<ng-template #win>
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col">
                <h3 style="color: green">EndGame, you win !</h3>
            </div>
        </div>    
        <button type="button" class="btn btn-primary" (click)="restartGame()">Jogar novamente</button>
    </div>
</ng-template>


